{{viewTitle}}

<form action="/" method="POST">
    
    <input type="hidden" name="_id" value="{{project._id}}">
    
    <label for="projectTitle">Project Name: </label>
    <input type="text" class="form_control" name="projectTitle" placeholder="Project Name">

    {{project.projectError}}
    <br>
    <label for="projectDescription">Project Description: </label>
    <input type="text" class="form-control" name="projectDescription" placeholder="Project Description">

    {{project.projectDescriptionError}}
    <br>
    <label> Project Languages: </label> 
    <input type="text" class="form-control" name="projectLanguages" placeholder="Project Languages">
    <br>
    <label for="projectGithubUrl"> Project Github URL: </label> 
    <input type="text" class="form-control" name="projectGithubUrl" placeholder="Project Github URL">

    <button type="submit" class="btn btn-info">Submit</button>

    {{!--View All--}}
</form>