{{viewTitle}}

<form action="/bio" method="POST">

    <label for="header">Header: </label>
    <input type="text" class="form-control" name="header" placeholder="Write an interesting header for the bio here!">

    <label for="bio">My Bio: </label>
    <input type="textarea" rows="4" class="form-control" name="bio" placeholder="Write an interesting bio here!">

    <button type="submit" class="btn btn-info">Submit</button>
</form>